// Place all the styles related to the Page controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import "bootstrap-sprockets";
@import "bootstrap";



div.game-container {
	width:100%;
	margin:0 auto;
	text-align:center;
}




canvas {
	margin: 0 auto;
	border:2px solid red;
}



















// ===========LOGIN/SIGN UP STYLING============

div.game-title-splash {
	margin:0;
	margin-top:100px;
	text-align:center;
	padding:10px;
	border:3px solid white;
	margin:0 auto;
	color: #86A5FF;
	border-radius:50px;
}

div.body-splash {
	margin:0 auto;
	text-align:center;
}
div.sign-in-up-container {
	max-width:460px;
	margin:0 auto;
	text-align:center;
}


div.sign-in-up-links-container {
	margin:0 auto;
	width:400px;
	text-align:left;
	paddin-left:20px;
}


div.game-container {
	margin: 0 auto;
	text-align:center;
	background-color:white;
}

canvas {
	background-color:yellow
}